<div>
  <h1>Create departamentos</h1>
  <form #form="ngForm" class="form-control">
    <label for="">Id Departamentos</label>
    <input type="number" name="cajaid" #cajaid class="form-control" />
    <label for="">Nombre</label>
    <input type="text" name="cajanombre" #cajanombre class="form-control" />
    <label for="">Localidad</label>
    <input type="text" name="cajalocalidad" #cajalocalidad class="form-control" />
    <button class="btn btn-dark" (click)="insertDepartamento()">Insertar</button>
  </form>
</div>
