<div>
  @if (departamentos.length > 0){
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>Id</th>
        <th>Nombre</th>
        <th>Localidad</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      @for (dept of departamentos; track dept){
      <tr>
        <td>{{ dept.numero }}</td>
        <td>{{ dept.nombre }}</td>
        <td>{{ dept.localidad }}</td>
        <td>
          <a
            [routerLink]="['/details', dept.numero, dept.nombre, dept.localidad]"
            class="btn btn-dark"
          >
            Details
          </a>
        </td>
        <td>
          <a [routerLink]="['/edit', dept.numero]" class="btn btn-warning"> Update </a>
        </td>
        <td>
          <a class="btn btn-info" (click)="deleteDepartamentos(dept.numero)"> Delete </a>
        </td>
      </tr>
      }
    </tbody>
  </table>
  }
</div>
