<div>
    <h1>Create departamento</h1>
    <form #departamentoForm="ngForm">
        <label>Id departamento</label>
        <input type="number" name="cajaid" #cajaid class="form-control"/>
        <label>Nombre</label>
        <input type="text" name="cajanombre" #cajanombre class="form-control"/>
        <label>Localidad</label>
        <input type="text" name="cajalocalidad" #cajalocalidad class="form-control"/>
        <button class="btn btn-warning" (click)="insertDepartamento()">
            Create
        </button>
    </form>
</div>